body {
    background: #f1f1f1;
    font-family: 'Open Sans', sans-serif;
}

.container {
    padding: 45px;
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F69eisenhower.csub.edu%2Facademicprograms%2F_images%2Flibrary%2520-%2520wide%2520banner.jpg&f=1&nofb=1);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.container h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 35px;
    color: #262626;
}

.navbar {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;
    background-color: #e6e6e6;
    width: 100%;
    height: 25px;
}

.navbar-dd {
    border: 0;
    outline: 0;
}

.dropdown {
    float: left;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    float: left;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    padding: 0px 8px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover {
    color: #4d88ff;
}

.dropdown-content {
    text-align: left;
    display: none;
    position: absolute;
    left: 9px;
    background-color: #f9f9f9;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content:hover {
    color: #4d88ff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.home {
    float: left;
    padding: 0px 8px;
}

.home:hover {
    color: #4d88ff;
}

.navbar a,
span {
    font-family: "Righteous", cursive;
    text-decoration: none;
    color: #262626;
    font-weight: bold;
    font-size: 16px;
}

.navbar a:hover span:hover {
    color: #4d88ff;
}

h2,
h5 {
    font-family: "Righteous", cursive;
    text-align: center;
}

select {
    padding: 8px;
    font-size: 15px;
    border-radius: 0.2em;
    border: 0;
    outline: none;
}

.Book {
    transition: transform 0.6s;
}

.Book:hover {
    transform: scale(1.1);
}

.row {
    margin-right: 22%;
    margin-left: 22%;
    padding: 5px 5px;
}

.column {
    float: left;
    width: 150px;
    margin-bottom: 30px;
}

.column img {
    border-radius: 0.2em;
    width: 130px;
    height: 190px;
}

.submit {
    color: #ffffff;
    border: 0;
    background: #00B4CC;
    padding: 10px;
    border-radius: 0.3em;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    cursor: pointer;
    font-weight: bolder;
}

footer {
    background-color: #e6e6e6;
    width: 100%;
    height: 15px;
    text-align: center;
    clear: both;
    position: relative;
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer a:hover {
    color: #4d88ff;
}

.sp {
    margin-top: 17%;
}

@media (max-width:600px) {
    .container {
        background-position: center;
    }
    .container h1 {
        margin-bottom: 20px;
    }
    h2 {
        font-size: 22px;
    }
    .row2 {
        margin-top: 20px;
    }
    .column {
        margin-left: 18%;
    }
    .column img {
        width: 130px;
        height: 190px;
    }
    .sp {
        margin-top: 64%;
    }
}